* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #26577C;
}

.header {
  text-align: center;
  background-color: #EBE4D1;
  padding: 30px 70px;
  font-size: xx-large;
  font-weight: 700;
}

.subHeader {
  text-align: center;
  background-color: #82A0D8;
  font-size: large;
  padding: 15px 0;
}

.selectOfSubheader {
  margin: 0px 8px 0px 15px;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: #EADBC8;
  border: none;
}

.selectOfSubheader option {
  color: black;
  background-color: rgba(70, 56, 56, 0.7);
  margin: 10px 20px;
  border-radius: 5px;
}

.subHeaderInput {
  margin: 0 7px;
  padding: 6px 16px;
  border-radius: 15px;
  background-color: #EADBC8;
  border: none;
}

.subHeaderbtn {
  margin: 0 7px;
  padding: 7px 16px;
  border-radius: 10px;
  background-color: #EADBC8;
  border: none;
}

.subHeaderbtn:hover {
  background-color: #EFB495;
  
}

.mainContainer {
  display: flex;
  justify-content: flex-start;
  gap: 90px;
  width: 100%;
  flex-wrap: wrap;
  padding: 9px 18px;
}

.mainContainer span {
  margin: 8px 11px;
  color: #fde7aa;
}

.sharp-x {
  color: rgb(228, 156, 156);
}

.bottomBtnDiv {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.setOrderDiv select {
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: #fde7aa;
  border: none;
}

.setOrderDiv button {
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: #fde7aa;
  border: none;
}

.setOrderDiv select option {
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  margin: 10px 20px;
  border-radius: 5px;
}


.setOrderDiv {
  margin-bottom: 15px;
}


.footer {
  background-color: #FFCF9D;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}